image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay

stages:
  - lint
  - test-electron
  - test-frontend
  - test-server
  # - build
  # - package

cache:
  paths:
    - node_modules
    - electron/node_modules
    - frontend/node_modules
    - server/node_modules

lint:
  image: node:10-alpine
  stage: lint
  script: "npm ci && npm run lint"

test-electron:
  image: node:10-alpine
  stage: test-electron
  script: "cd ./electron && npm ci && npm run test"

test-frontend:
  image: node:10-alpine
  stage: test-frontend
  script: "cd ./frontend && npm ci && npm run test"

test-server:
  image: node:10-alpine
  stage: test-server
  script: "cd ./server && npm ci && npm run test"

# node-build:
#   image: node:10-alpine
#   stage: build
#   script: "npm run install-all --only=production"

# docker-build:
#   stage: package
#   script:
#     - docker build -t registry.gitlab.com/alexseifertwebsites/developers-notebook .
#     - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
#     - docker push registry.gitlab.com/alexseifertwebsites/developers-notebook
